---
import { Icon } from "astro-icon";
import styles from "../../styles/components/astro/postCard.module.scss";
import PublicationTag from "./PublicationTag.astro";
import TopicBadge from "./TopicBadge.astro";

/**
 * @type {{publication: {name: string, date: string}, title: string, briefDescription: string, topics: string[]}}
 */
interface Props {
    publication: {
        name: string,
        date: string
    };
    title: string;
    briefDescription: string;
    topics: string[];
    posterURL: string;
} 
const { publication, title, briefDescription, topics, posterURL } = Astro.props;
---

<div class={styles.pc_wrapper}>
        <div class={styles.pc_header_img}>
            <img src={posterURL} alt={`@${title}_poster_img`} />
        </div>
        <div class={styles.pc_content}>
            <div class={styles.pc_content_strip}>
                <PublicationTag name={publication?.name ?? ""} date={publication?.date ?? ""} />
            </div>
            <div class={styles.pc_content_strip}>
                <h2>{title}</h2>
                <Icon name="arrow-tr" />
            </div>
            <div class={styles.pc_content_strip}>
                <p>{briefDescription}</p>
            </div>
            <div class={`${styles.pc_content_strip} ${styles.pc_content_strip_with_badges}`}>
                {topics?.map((topic: string) => <TopicBadge variant="dark" label={topic} />)}
            </div>
        </div>
</div>